<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- bootstrap cdn -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/prescription.css"
  
    <title>Prescription</title>
</head>
<body>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <div class="container cont1 border">
     
        <hr>
        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
                <h5>Dr Ajay Bansal</h5>
                <h6>Speciality</h6>
                <h6>Date</h6>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <h6>Patient's Name</h6>
                <h6>Age</h6>
                <h6>Gender</h6>
            </div>
        </div>

        <hr>

        <form>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Symptoms</label>
              <div class="ico">
                <a href="">  <i class="fas fa-microphone float-right btn" ></i> </a>
                <a href=""><i class="fas fa-edit float-right btn"></i></a>
              </div> 
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Diagnosis</label>
                <div class="ico">
                    <a href="">  <i class="fas fa-microphone float-right btn" ></i> </a>
                    <a href=""><i class="fas fa-edit float-right btn"></i></a>
                  </div> 
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Prescription</label>
                <div class="ico">
                    <a href="">  <i class="fas fa-microphone float-right btn" ></i> </a>
                    <a href=""><i class="fas fa-edit float-right btn"></i></a>
                  </div> 
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Advice</label>
                <div class="ico">
                   <a href="">  <i class="fas fa-microphone float-right btn" ></i> </a>
                    <a href=""><i class="fas fa-edit float-right btn"></i></a>
                  </div> 
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </form>
        
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
         
        </div>
    </div>

</body>
</html>