.cont1
{
    border: 2px solid black;
}
.ico
{
    text-align: right;
}
.head{
    color:red
}
.heading
{
    background-color: #00adb5;
    color: white;
    font-weight: bold;
    font-family: 'Fascinate', cursive;
    padding: 4rem;
}

.border
{
    border: solid black;
}
.cont1
{
    padding: 2rem 4rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.doctor
{
    color:#00adb5;
}

.details
{
    margin-bottom: 5rem;
}

.form-group
{
    margin-bottom: 2rem;
}

label
{
    font-weight: bold;
}


.row
{
    padding-left:1rem ; 
    padding-right: 1rem;
}

.patient
{
    text-align: right;
}

.fas
{
    color: black;
    transition: all 0.3s;
}

.fas:hover
{
    color: #00adb5;
    transition: all 0.3s;
}

.foot
{
    background-color: #00adb5;
    height: 5vh;
}

@media only screen and (max-width: 575px)
{
    .heading
    {
        padding: 2rem;
        text-align: center;
    }

    .cont1
    {
        padding: 2rem 2rem; 
        
    }
    .row
    {
        padding-left:0rem ; 
        padding-right: 0rem;
    }

    .details
    {
        margin-bottom: 3rem;
    }

}